<!-- INICIO --  TRANSACCIONES -->

<div class="row mt-4 g-4">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5>Retirar fondos</h5>
                <input type="number" class="form-control mb-3" placeholder="Monto">
                <div class="mb-3">
                    <textarea class="form-control  h-25"rows="3"
                        placeholder="Descripción"></textarea>
                </div>
                <button class="btn btn-danger w-100">Retirar</button>
            </div>
        </div>
    </div>
</div>
<!-- FIN --  TRANSACCIONES -->