
<div class="d-flex justify-content-center align-items-center">
  <div class="card shadow-sm">
    <div class="card-body">
       <div class="text-center">
        <h5>¿Cuánto dinero quieres retirar de tu cuenta Wallet?</h5>
        <br/>
      </div>
      <div class="row">
        <div class="bg-success bg-gradient rounded p-4 text-white text-center shadow-sm">
          <strong class="fs-1 d-block fw-bold" >{{ monto_actual}}</strong>
          <small>Saldo disponible</small>
        </div>
      </div>
      <br/>
       <h5 class="text-success">Puedes retirar a partir de $1000</h5>
      <br/>
      <form method="POST">
        {% csrf_token %}
          <div class="row mb-3 mt-2">
              <label class="col-sm-4 col-form-label"> 
                      {{retirar_form.monto.label_tag}}
              </label>

              <div class="col-sm-8">
                  {{retirar_form.monto }}
              </div>
               
          </div>

       <div class="row mb-3 mt-2">
              <label class="col-sm-4 col-form-label"> 
                     {{retirar_form.observacion.label_tag}}
              </label>

              <div class="col-sm-8">
                  {{retirar_form.observacion }}
              </div>
               
          </div>

      <button type="submit" class="btn btn-success w-100">Retirar</button>
    </div>
    </div>
  </div>
</div>
