<div class="d-flex justify-content-center align-items-center">
  <div class="card shadow-sm w-60">
    <div class="card-body">

      <div class="text-center">
        <h5>¿Cuánto dinero quieres depósitar a tu cuenta Wallet?</h5>
        <br/>
      </div>
      <form method="POST" >
         {% csrf_token %}
            {{ depositar_form.monto }} 
             {% if depositar_form.monto.errors %}
                          <div class="text-danger small">
                            {{ depositar_form.monto.errors }}
                          </div>
                {% endif %}
                
          <div class="row g-2">
            <div class="col-4">
              <button type="button" class="btn btn-outline-success w-100 monto-btn" data-monto="20000">$20.000</button>
            </div>
            <div class="col-4">
              <button type="button" class="btn btn-outline-success w-100 monto-btn" data-monto="50000">$50.000</button>
            </div>
            <div class="col-4">
              <button type="button" class="btn btn-outline-success w-100 monto-btn" data-monto="100000">$100.000</button>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-4">
              <label class="col-form-label">{{ depositar_form.entidad_bancaria.label_tag}} </label>
            </div>

            <div class="col-8">
              {{depositar_form.entidad_bancaria}}
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-4">
              <label class="col-form-label"> {{ depositar_form.tarjeta_bancaria.label_tag}} </label>
            </div>

            <div class="col-8">
             {{depositar_form.tarjeta_bancaria}}
            </div>
          </div>

          <div class="row mb-3 mt-2">
              <label class="col-sm-4 col-form-label"> 
                    {{ depositar_form.observacion.label_tag}} 
              </label>

              <div class="col-sm-8">
                    {{depositar_form.observacion}}
              </div>
               
          </div>

          <button type="submit" class="btn mt-4 btn-success w-100" >
            Depositar</button>
        </div>
  </form>
  </div>
</div>
