{% extends "base.html" %}
{% block titulo_web %}
AlkeWallet | Depositar
{% endblock %}

{% block css %}

{% endblock %}

{% block titulo_pagina %}
Depositar
{% endblock %}

{% block location %}
<li class="breadcrumb-item active" aria-current="page">Depositar</li>
{% endblock %}


{% block content_main %}
{% include "fondos/depositar/content.html" %}
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const botones = document.querySelectorAll(".monto-btn");
        const input_monto = document.getElementById("id_monto");

        botones.forEach(boton => {
            boton.addEventListener("click", () => {
                botones.forEach(b => {
                    b.classList.remove("btn-success");
                    b.classList.add("btn-outline-success");
                });

                input_monto.value = boton.dataset.monto;
                boton.classList.remove("btn-outline-success");
                boton.classList.add("btn-success");
            });
        });
    });

    const cuentaSelect = document.getElementById('cuenta-select');
    const tarjetaSelect = document.getElementById('tarjeta-select');

    cuentaSelect.addEventListener('change', function() {
        const cuentaId = this.value;
        tarjetaSelect.innerHTML = '<option value="">Seleccione una tarjeta</option>';

        if (cuentaId) {
            fetch(`/api/tarjetas/?cuenta_id=${cuentaId}`)
                .then(response => response.json())
                .then(data => {
                    data.forEach(t => {
                        const option = document.createElement('option');
                        option.value = t.id;
                        option.text = t.numero_tarjeta + ' (' + t.tipo_tarjeta + ')';
                        tarjetaSelect.appendChild(option);
                        tarjetaSelect.value=t.id
                    });
                });
        }
    });

</script>
{% endblock %}