{% load custom_filters %}
<div class="row">
    <!--begin::Col-->
    <div class="col-lg col-6">
        <!--begin::Small Box Widget 1-->
        <div class="small-box text-bg-success bg-gradient">
            <div class="inner">
                <h3>
                   {{ saldo|clp }}
                </h3>
                <p>Saldo</p>
            </div>
            <svg class="small-box-icon" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true">
                <path
                    d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z">
                </path>
            </svg>
        </div>
    </div>
    <div class="col-lg col-6">
        <div class="small-box text-bg-primary bg-gradient">
            <div class="inner">
                <h3> {{ ingresos|clp }}</h3>
                <p>Ingresos</p>
            </div>
            <svg class="small-box-icon" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true">
                <path
                    d="M18.375 2.25c-1.035 0-1.875.84-1.875 1.875v15.75c0 1.035.84 1.875 1.875 1.875h.75c1.035 0 1.875-.84 1.875-1.875V4.125c0-1.036-.84-1.875-1.875-1.875h-.75zM9.75 8.625c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-.75a1.875 1.875 0 01-1.875-1.875V8.625zM3 13.125c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v6.75c0 1.035-.84 1.875-1.875 1.875h-.75A1.875 1.875 0 013 19.875v-6.75z">
                </path>
            </svg>

        </div>
    </div>
    <div class="col-lg col-6">
        <div class="small-box text-bg-danger bg-gradient">
            <div class="inner">
                <h3> {{ egresos|clp }}</h3>
                <p>Egresos</p>
            </div>
            <svg class="small-box-icon" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true">
                <path
                    d="M6.25 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM3.25 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM19.75 7.5a.75.75 0 00-1.5 0v2.25H16a.75.75 0 000 1.5h2.25v2.25a.75.75 0 001.5 0v-2.25H22a.75.75 0 000-1.5h-2.25V7.5z">
                </path>
            </svg>

        </div>
    </div>
     <div class="col-lg col-6">
        <div class="small-box text-bg-warning bg-gradient bg-gradient">
            <div class="inner">
                <h3> Tarjetas</h3>
                <p>Tarjetas</p>
            </div>
            <svg class="small-box-icon" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true">
                <path d="M4.5 3.75a3 3 0 0 0-3 3v.75h21v-.75a3 3 0 0 0-3-3h-15Z" />
                <path fill-rule="evenodd" d="M22.5 9.75h-21v7.5a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3v-7.5Zm-18 3.75a.75.75 0 0 1 .75-.75h6a.75.75 0 0 1 0 1.5h-6a.75.75 0 0 1-.75-.75Zm.75 2.25a.75.75 0 0 0 0 1.5h3a.75.75 0 0 0 0-1.5h-3Z" clip-rule="evenodd" />
            </svg>
             <div class="d-flex justify-content-end">
  <a
    class="btn btn-success bi-person-fill-add mt-3"
     data-bs-toggle="modal"
     data-bs-target="#tarjetaModal">
    Registrar tarjeta
  </a>
</div> 

        </div>
    </div>
    <!--end::Col-->
    <!--begin::Row-->
    <div class="row">
        <!-- Start col -->
        <div class="col-lg">
            <div class="card mb-4">
                <div class="card-header">
                    <h3 class="card-title">Evolución Mensual</h3>
                </div>
                <div class="card-body">
                    <div class="chart-container">
                        <canvas id="evolucion-chart" height="200"></canvas>
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>
                <!-- Start col -->
    </div>
    </div>
    <!-- /.row (main row) -->

    <div class="modal fade" id="tarjetaModal" tabindex="-1">
  <div class="modal-dialog w-30 modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header ">
        <h5 class="modal-title text-center">Registro de tarjeta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <form method="POST" action=""  novalidate>
        {% csrf_token %}

      
        <div class="modal-body px-4">

   
          <div class="row align-items-center mb-3">
            <div class="col-md-4">
              {{ tarjeta_form.cuenta_bancaria.label_tag }}
            </div>
            <div class="col-md-8">
              {{ tarjeta_form.cuenta_bancaria }}
              {% if tarjeta_form.cuenta_bancaria.errors %}
                <div class="text-danger small">
                  {{ tarjeta_form.cuenta_bancaria.errors }}
                </div>
              {% endif %}
            </div>
          </div>

          <div class="row align-items-center mb-3">
            <div class="col-md-4">
              {{ tarjeta_form.tarjeta_bancaria.label_tag }}
            </div>
            <div class="col-md-8">
              {{ tarjeta_form.tarjeta_bancaria }}
              {% if tarjeta_form.tarjeta_bancaria.errors %}
                <div class="text-danger small">
                  {{ tarjeta_form.tarjeta_bancaria.errors }}
                </div>
              {% endif %}
            </div>
          </div>

          <div class="row align-items-center mb-3">
            <div class="col-md-4">
              {{ tarjeta_form.fecha_expiracion.label_tag }}
            </div>
            <div class="col-md-8">
              {{ tarjeta_form.fecha_expiracion }}
              {% if tarjeta_form.fecha_expiracion.errors %}
                <div class="text-danger small">
                  {{ tarjeta_form.fecha_expiracion.errors }}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="modal-footer px-4">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cancelar
          </button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>

      </form>
    </div>
  </div>
</div>
