
<div class="modal fade" id="tarjetaModal" tabindex="-1">
  <div class="modal-dialog w-30 modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header justify-content-center position-relative">
        <h5 class="modal-title">Formulario de registro de tarjeta bancaria</h5>
        <input type="hidden" name="form_type" value="tarjeta">
        <button
          type="button"
          class="btn-close position-absolute end-0 me-3"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <form method="POST" action="{% url 'reg_tarjeta'%}" novalidate>
        {% csrf_token %}

        <div class="modal-body px-4">
          <div class="row align-items-center mb-3">
            <div class="col-md-4 text-danger">
              {{ tarjeta_form.cuenta_bancaria.label_tag }}
            </div>
            <div class="col-md-8">
              {{ tarjeta_form.cuenta_bancaria }} 
              {% if tarjeta_form.cuenta_bancaria.errors %}
              <div class="text-danger small">
                {{ tarjeta_form.cuenta_bancaria.errors.0 }}
              </div>
              {% endif %}
            </div>
          </div>

          <div class="row align-items-center mb-3">
            <div class="col-md-4">
              {{ tarjeta_form.numero_tarjeta.label_tag }}
            </div>
            <div class="col-md-8">
              {{ tarjeta_form.numero_tarjeta }} 
              {% if tarjeta_form.numero_tarjeta.errors %}
              <div class="text-danger small">
                {{ tarjeta_form.numero_tarjeta.errors.0 }}
              </div>
              {% endif %}
            </div>
          </div>

          <div class="row align-items-center mb-3">
            <div class="col-md-4">
              {{ tarjeta_form.tipo_tarjeta.label_tag }}
            </div>
            <div class="col-md-8">
              {{ tarjeta_form.tipo_tarjeta }} 
              {% if tarjeta_form.tipo_tarjeta.errors %}
              <div class="text-danger small">
                {{ tarjeta_form.tipo_tarjeta.errors.0 }}
              </div>
              {% endif %}
            </div>
          </div>

          <div class="row align-items-center mb-3">
            <div class="col-md-4">
              {{ tarjeta_form.fecha_expiracion.label_tag }}
            </div>
            <div class="col-md-8">
              {{ tarjeta_form.fecha_expiracion}} 
              {% if tarjeta_form.fecha_expiracion.errors %}
              <div class="text-danger small">
                {{ tarjeta_form.fecha_expiracion.errors.0 }}
              </div>
              {% endif %}
            </div>
          </div>

          <div class="row align-items-center mb-3">
            <div class="col-md-4">{{ tarjeta_form.marca.label_tag }}</div>
            <div class="col-md-8">
              {{ tarjeta_form.marca }} {% if tarjeta_form.marca.errors %}
              <div class="text-danger small">
                {{ tarjeta_form.marca.errors.0 }}
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="modal-footer px-4">
          <button
            type="button"
            class="btn btn-dark"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>