<div class="row mt-4 g-4">

    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5>Entre mis cuentas</h5>
                <input type="number" class="form-control mb-3" placeholder="Monto">
                <div class="mb-3">
                    <textarea class="form-control  h-25" rows="3"
                        placeholder="Descripción"></textarea>
                </div>
                <button class="btn btn-success w-100">Depositar</button>
            </div>
        </div>
    </div>
</div>
<div class="card shadow-sm mt-4">
    <div class="card-body">
        <h5>Historial de transacciones</h5>
        <table  class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Tipo</th>
                    <th>Detalle</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>