{% load custom_filters %}

<div class="d-grid gap-2 d-md-block">
    <a
      class="btn btn-success bi-person-fill-add"
      data-bs-toggle="modal"
      data-bs-target="#destinatarioModal">
      Crear destinatario
    </a>
    <a
      class="btn btn-warning bi-person-fill-add"
      data-bs-toggle="modal"
      data-bs-target="#destinatarioModal">
      Editar destinatario
    </a>
  
</div>

<div class="row mt-4">
  <div class="col-3">
    <div class="card   align-items-center text-bg-light  mb-3" style="max-width: 18rem;">
          <div class="card-header"><h4 class="fs-1">{{saldo_actual|clp}}</h4></div>
          <div class="card-body ">
            <h5 class="card-title">SALDO ACTUAL</h5>
          </div>
    </div>
  </div>

  <div class="col-9">
    <div class="d-flex justify-content-left align-items-center ">
  <div class="card  w-40">
    <div class="card-body">
      <div class="text-center">
        <h4>Formulario de Transferencia</h4>
        <br/>
      </div>
      <form method="POST" >
         {% csrf_token %}
          <div class="row mt-2">
            <div class="col-4">
              <label class="col-form-label">Destinatario </label>
            </div>

            <div class="col-8">
              {{transferencia_form.destinatario}}
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-4">
              <label class="col-form-label">Codigo Wallet </label>
            </div>

            <div class="col-8">
              {{transferencia_form.wallet_destino}}
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <label class="col-form-label"> {{ transferencia_form.monto.label_tag}} </label>
            </div>

            <div class="col-8">
             {{transferencia_form.monto}}
            </div>
          </div>

          <div class="row">
              <label class="col-4 "> 
                    {{ transferencia_form.observacion.label_tag}} 
              </label>

              <div class="col-8">
                    {{transferencia_form.observacion}}
              </div>
          </div>

          <button type="submit" class="btn mt-4 btn-success w-100" >
            Transferir</button>
        </div>
  </form>
  </div>
</div>
  </div>
</div>



<!--  MODAL DE REGISTRO DE DESTINATARIO-->
  <div class="modal fade" id="destinatarioModal" tabindex="-1">
  <div class="modal-dialog w-30 modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header justify-content-center position-relative">
        <h5 class="modal-title">Formulario de registro de destinatario</h5>
        <input type="hidden" name="form_type" value="cuenta">
          <button
          type="button"
          class="btn-close position-absolute end-0 me-3"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <form method="POST" action={% url 'destinatario'%}   novalidate>
        {% csrf_token %}

        <div class="modal-body px-4">
          <div class="row align-items-center mb-3">
            <div class="col-md-4">
              {{ destinatario_form.wallet_codigo.label_tag }}
            </div>
            <div class="col-md-8">
              {{ destinatario_form.wallet_codigo }}
              {% if destinatario_form.wallet_codigo.errors %}
                <div class="text-danger small">
                  {{ destinatario_form.wallet_codigo.errors.0 }}
                </div>
              {% endif %}
            </div>
          </div>

          <div class="row align-items-center mb-3">
            <div class="col-md-4">
              {{ destinatario_form.nombre.label_tag }}
            </div>
            <div class="col-md-8">
              {{ destinatario_form.nombre }}
              {% if destinatario_form.nombre.errors %}
                <div class="text-danger small">
                  {{ destinatario_form.nombre.errors.0 }}
                </div>
              {% endif %}
            </div>
          </div>

          <div class="row align-items-center mb-3">
            <div class="col-md-4">
              {{ destinatario_form.apellido.label_tag }}
            </div>
            <div class="col-md-8">
              {{ destinatario_form.apellido }}
              {% if destinatario_form.apellido.errors %}
                <div class="text-danger small">
                  {{ destinatario_form.apellido.errors.0 }}
                </div>
              {% endif %}
            </div>
          </div>

          <div class="row align-items-center mb-3">
            <div class="col-md-4">
              {{ destinatario_form.email.label_tag }}
            </div>
            <div class="col-md-8">
              {{ destinatario_form.email }}
              {% if destinatario_form.email.errors %}
                <div class="text-danger small">
                  {{ destinatario_form.email.errors.0 }}
                </div>
              {% endif %}
            </div>
          </div>

          <div class="row align-items-center mb-3">
            <div class="col-md-4">
              {{ destinatario_form.apodo.label_tag }}
            </div>
            <div class="col-md-8">
              {{ destinatario_form.apodo }}
              {% if destinatario_form.apodo.errors %}
                <div class="text-danger small">
                  {{ destinatario_form.apodo.errors.0 }}
                </div>
              {% endif %}
            </div>
          </div>

        </div>

        <div class="modal-footer px-4">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cancelar
          </button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>

      </form>
    </div>
  </div>
</div>

 <!-- INICIO --  HISTORIAL DE TRANSFERENCIAS -->

<div class="card  shadow-sm mt-2">
    <div class="card-header bg-success-subtle text-center" style="height: 46px !important;"><h4>Historial de transferencias</h4></div>
  <div class="card-body">
    
    <table  class="table table-striped" id="tabla-transferencias">
      <thead>
        <tr>
          <th scope="col">Codigo transacción</th>
          <th scope="col">Fecha</th>
          <th scope="col">Destinatario</th>
          <th scope="col">Wallet destinatario</th>
          <th scope="col">Monto</th>
        </tr>
      </thead>
      <tbody>
        
        {% for transferencia in hitorial_transferencias%}
        <tr>
          <td scope="row">{{transferencia.codigo}}</td>
          <td data-order="{{ transferencia.fecha|date:'Y-m-d H:i:s' }}"> {{transferencia.fecha|date:"d M y - H:i" }}</td>
          <td>{{transferencia.destinatario}}</td>
           <td>{{transferencia.wallet_destino}}</td>
          <td class="text-danger">{{transferencia.monto}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>