{% extends "base.html" %}
{% block titulo_web %}
    AlkeWallet | Dashboard
{% endblock %}

{% block css%}
 <link
    href="https://cdn.datatables.net/v/dt/dt-2.3.7/datatables.min.css"
    rel="stylesheet"
    integrity="sha384-wCnlGUpaekN+Mtc+qIoipdqIqe2dvC7hWyzVg8wajZ1sxKnVTbnyBd7pyx7JT0Su"
    crossorigin="anonymous"
    />
{% endblock%}


{% block titulo_pagina %}
    Transferencias
{% endblock %}

{% block location %}
   <li class="breadcrumb-item active" aria-current="page">Transferencias</li>
{% endblock %}


{% block content_main %}
    {% include "transferencias/content.html" %}
{% endblock %}

{% block scripts %}

<script>

    const destinatarioSelect = document.getElementById('destinatario-select');
    const idWallet = document.getElementById("id_wallet_destino");

    destinatarioSelect.addEventListener('change', function() {
        const id_destinatario = this.value;

        if (id_destinatario) {
            fetch(`/api/wallet/?id_destinatario=${id_destinatario}`)
                .then(response => response.json())
                .then(data => {
                        idWallet.value = data.cod_wallet;
                });
        }
    });
</script>

{% if destinatario_form.errors %}
<script>
  var modalDestinatario = new bootstrap.Modal(document.getElementById('destinatarioModal'));
  modalDestinatario.show();
</script>
{% endif %}

<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.datatables.net/v/dt/dt-2.3.7/datatables.min.js"
  integrity="sha384-aQ8I1X2x8U0AR8D7C4Ah0OvZlwMslQdN5YDAQBA56jXrrhcECijs/i7H+5DDrlV1"
  crossorigin="anonymous"
></script>

<script>
  	
 new DataTable('#tabla-transferencias', {
    language: {
       url: 'https://cdn.datatables.net/plug-ins/2.3.7/i18n/es-CL.json',
       emptyTable: "No hay movimientos"
     
    },
      order: [[1, 'desc']],
      //searching: false,
      //lengthChange: false
  });
</script>

{% endblock %}